.sidenav-container {
  height: 100%;
}

a{
  margin-right: 15px;
  display: block;
}


.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
