<mat-sidenav-container class="sidenav-container">
    <mat-toolbar color="primary">
      <mat-nav-list color="primary" fxLayout="row">
        <a routerLink="/"><mat-icon>forum</mat-icon> Forum</a>
        <div *ngIf="!(user | async) else isUser">
          <a routerLink="/login">Login</a>
          <a routerLink="registration">Registration</a>
        </div>
      </mat-nav-list>
    </mat-toolbar>
  <ng-content></ng-content>
</mat-sidenav-container>

<ng-template #isUser>
  <a routerLink="/post/create">Create</a>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="mat-icon-rtl-mirror">account_box</mat-icon>
    </button>
    <span>Hello, {{ (user | async)?.userName }}</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</ng-template>
