<app-form-card title="Create post">
  <form fxLayout="column" fxLayoutAlign="center" #f=ngForm (ngSubmit)="createPost()">
    <mat-form-field appearance="outline">
      <mat-label>Post title</mat-label>
      <input
        type="text"
        name="title"
        required matInput ngModel #title="ngModel"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Post description</mat-label>
      <textarea
        name="description"
        matInput ngModel #title="ngModel"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>image</mat-label>
      <app-file-input ngModel name="image"></app-file-input>
    </mat-form-field>
    <button mat-button color="primary" type="submit">Add post</button>
  </form>
</app-form-card>
