<app-form-card title="Login">
  <form fxLayout="column" #f=ngForm (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter correct email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        autocomplete="current-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Password is required!
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center" style="margin-button: 16px">
      <a routerLink="/registration">If you don't have an account, follow the link to register</a>
    </div>

    <button mat-raised-button color="primary" [disabled]="f.invalid">LOGIN</button>
  </form>
</app-form-card>
