<app-form-card title="Registration">
  <form fxLayout="column" #f=ngForm (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter correct email
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('errorServer')">
        {{ email.getError('errorServer') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="userName"
        required matInput ngModel #userName="ngModel"
      />
      <mat-error *ngIf="userName.touched && userName.hasError('required')">
        Name is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        autocomplete="new-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Password is required!
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="f.invalid">REGISTER</button>
  </form>
</app-form-card>
