.card-image
  flex: 0 0 30%
  height: 150px

.card-image
  width: 150px
  margin-right: 20px
  padding: 5px

img
  height: auto
  display: block

p
  border-top: 1px solid black
  border-radius: 10px
  padding: 15px

mat-card-content
  padding: 10px

mat-card-title
  margin-bottom: 15px
