<mat-card>
  <mat-card-title>{{ (post | async)?.title }}</mat-card-title>
  <div class="card-image">
    <img
      [src]="'http://localhost:8000/uploads/'+(post | async)?.image"
      alt="Post image"
      mat-card-image
    />
  </div>
  <mat-card-content>
    <div>
      <h3>Post Author: {{ (post | async)?.author?.userName }}</h3>
      <span>Date: {{ (post | async)?.date }}</span>
      <p class="post-description">
        {{ (post | async)?.description }}
      </p>
    </div>
    <h3>Comments:</h3>
    <div>
        <span>Author</span>
        <p>Comment</p>
    </div>
    <div *ngIf="!(user | async) else isUser">
      <i>If you want to leave a comment, please login or register</i>
    </div>
    <ng-template #isUser>
      <form>
        <mat-form-field>
          <mat-label>
            Enter comment
          </mat-label>
          <textarea matInput name="comment"></textarea>
        </mat-form-field>
        <button mat-button>
          <mat-icon>comment</mat-icon>
        </button>
      </form>
    </ng-template>
  </mat-card-content>
</mat-card>
