<div class="container">
  <mat-card *ngFor="let post of posts | async">
    <div class="card-image">
      <img
        [src]="'http://localhost:8000/uploads/'+post.image"
        alt="Post image"
        mat-card-image
      />
    </div>
    <div class="card-content">
      <strong>{{ post.date }}</strong><i> Author name: {{ post.author?.userName }}</i>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
      <a mat-button color="primary" [routerLink]="['/posts']" [queryParams]="{post: post._id}">View post</a>
    </div>
  </mat-card>

</div>
