.container
  padding: 0 15px

mat-card
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start
  margin-bottom: 10px

.card-image
  flex: 0 0 20%
  margin-right: 20px
  padding: 5px

img
  height: auto
  display: block

.card-content
  padding: 10px 15px


